@use '@angular/material' as mat;
@use 'sass:map';
@use 'palette';
@use 'typography';

$theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(palette.$primary-palette, 200),
      accent: mat.define-palette(palette.$accent-palette, 300),
      warn: mat.define-palette(palette.$warn-palette)
    )
  )
);

$theme: map.set(
  $theme,
  color,
  background,
  palette.$background-light-palette
);

$theme: map.set(
  $theme,
  color,
  foreground,
  palette.$foreground-light-palette
);