@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');

  .sidenav {
    .mat-sidenav {
      .mat-nav-list .mat-list-text,
      .mat-nav-list .mat-list-icon {
        color:mat.get-color-from-palette($foreground, text);
      }
    }
  }
}

@mixin typography($theme) {
  // $typography-config: mat.get-typography-config($theme);
}

// TODO : repeated too many files, see refactor
@mixin theme($theme, $typography-config) {
  $color-config: mat.get-color-config($theme);
  @if $color-config {
    @include color($theme);
  }

  @if $typography-config {
    @include typography($typography-config);
  }
}
